:root{

    /* COLORS  */


    --color-primary-violet: hsl(256, 26%, 20%);
    --color-primary-blue: hsl(216, 30%, 68%);

    --color-dark-violet: hsl(270, 9%, 17%);
    --color-grayish-violet: hsl(273, 4%, 51%);
    --color-light-grey: hsl(0, 0%, 98%);



}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html{
    font-size: 62.5%;
    font-family: 'Karla', serif;
    box-sizing: border-box;
}




/* //Basic Resets */


ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-grayish-violet);
    transition: color .4s;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'DM Serif Display', serif;
}
.btn{
    padding: 1rem 1.5rem;
    display: inline-block;
    font-size: 1.4rem;
    border: 2px solid var(--color-primary-violet);
    text-transform: uppercase;
}

/* //Main Styles */


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10%;
    text-transform: uppercase;
}
.nav__icon{
    display: none;
}
.nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__list__item:not(:last-child){
    margin-right: 2rem;
}
.nav__list__item{
    font-size: 1.5rem;
    padding: 1rem 0;

    letter-spacing: .25rem;
    font-family: karla , sans-serif;
    font-weight: bold;
    transition: color .4s;
}
.nav__list__item a:hover{
    color: var(--color-primary-violet);
}


.nav__list__item--btn a{
    padding: 1rem 1.5rem;
    margin-right: 0;
    color: var(--color-primary-violet);
    border: 2px solid var(--color-primary-violet);
    transition: color .4s,
                background-color .4s;
}
.nav__list__item--btn a:hover{
    color: #fff;
    background-color: var(--color-primary-violet);
}

/* //Hero Section */


.hero{
    background: url('images/bg-pattern-intro-right-desktop.svg') , url('images/bg-pattern-intro-left-desktop.svg') var(--color-primary-violet);
    color: #fff;
    display: flex;
    align-items: center;
    background-repeat: no-repeat, no-repeat;
    background-position: top right, 0 160% ;
    background-size: 35rem, 15rem;
    height: 60vh;

}


.hero__content{
    display: flex;
    margin: 0 10%;
}


.hero__content--text{
    max-width: 50%;
    position: relative;
}
.hero__content--heading{
    font-size: 7rem;
    font-weight: 300;
    line-height: .9;
    margin-top: 3rem;

}

.hero__content--heading::before{
    content: '';
    width: 15rem;
    background-color: #fff;
    height: .15rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}


.hero__content--para{
    font-size: 1.6rem;
    margin-top: 2rem;
    line-height: 1.5;
}
.hero__content--btn{
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 3rem;
    color: var(--color-light-grey);
    border: 2px solid var(--color-light-grey);
    transition: color .4s,
    background-color .4s;
}

.hero__content--btn:hover,
.cta__btn:hover{
    color: var(--color-primary-violet);
    background-color: #fff;
}

.hero__img-m{
    display: none;
}


.hero__img{
    position: absolute;
    top: 17rem;
    right: 10%;
    max-width: 100%;

}


/* Features section */

.features{
    margin: 25rem 10%;
}

.features__heading{
    font-size: 4.5rem;
    padding: 1.5rem 0;
    position: relative;
}

.features__heading::before{
    content: '';
    width: 15rem;
    background-color: var(--color-grayish-violet);
    height: .15rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}


.features__items{
    display: flex;
    margin-top: 5rem;
}

.features__item{
    width: 33%;
    margin-right: 5rem;
}

.features__item--heading{
    font-size: 2rem;
    margin: 2rem 0;
}   

.features__item--para{
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--color-grayish-violet)
}


.cta{
    background: url('images/bg-pattern-how-we-work-desktop.svg') var(--color-primary-violet);
    background-position: top right;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 7rem;
    color: #fff;
}
.cta__heading{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: .9;
}
.cta__btn{
    border-color: #fff;
    color: #fff;
    transition: color .4s,
    background-color .4s;
}

.social{
    display: flex;
    margin: 15rem 10% 10rem;
    align-items: center;
    justify-content: space-between;
}

.social__nav__list__item{
    padding: 0;
    font-size: 2rem;
    color: var(--color-grayish-violet);
    transition: .4s;
}

.nav__list__item:nth-last-child(1){
    margin-right: 0rem;
}

.social__nav__list__item:hover{
    color: var(--color-primary-violet);
}


/* 
LINKS SECTION */




.links{
    width: 80%;
    margin: 0 auto 5rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
}

.links__container{
    width: 25%;
}

.links__heading{
    color: var(--color-grayish-violet);
    margin-bottom: 3rem;
    font-size: 1.4rem;
}


.links__a{
    color: var(--color-primary-violet);
    font-size: 1.4rem;
    line-height: 1.5;
}
.links__a:hover{
    text-decoration: underline;
}



@media screen and (max-width: 490px){
    html{
        font-size: 58%;
        text-align: center;
    }
    .header{
        height: 5rem;
    }

    .hero__img-m{
        display: block;
    }

    .hero__img-m img{
        width: 100%;
    }
    .hero{
        background-position: bottom right, -8% 65% ;
        background-size: 12rem, 8rem;
        height: auto;
        flex-direction: column;
    }
    .hero__content--text{
        max-width: 100%;
    }

    .hero__img{
        display: none;
    }
    .hero__content--text{
        width: 100%;
    }
    .hero__content--heading{
        font-size: 4.2rem;
    }
    .hero__content--btn{
        margin-bottom: 3rem;
    }

    .nav__icon{
        display: block;
    }
    .features{
        margin: 10rem 10%;
    }

    .features__items{
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .features__item{
        width: 100%;
        margin: 2rem 0;
    }

    .features__heading{
        font-size: 4rem;
    }


    .cta{
        flex-direction: column;
        background: url('images/bg-pattern-how-we-work-mobile.svg') var(--color-primary-violet);
        background-repeat: no-repeat;
        width: 80%;
        padding: 6rem 3rem;
        background-position: top right;
    
    }
    .cta__heading{
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    .social{
        flex-direction: column;
        margin: 8rem;
    }
    .social__nav__list{
        margin: 2rem 0;
    }


    .header__nav{
        display: none;
    }

    .links{
        flex-direction: column;
        align-items: center;
    }
    .links__container{
        width: 80%;
        margin-top: 3rem
    }

    .features__heading::before
    {
        left: 50%;
        transform: translateX(-50%);
    }
    .hero__content--heading::before{
        content: none;
    }

}
